@model int

<a class="nav-link text-dark d-flex align-items-center gap-2"
   asp-controller="Cart"
   asp-action="Index">
    <span>Корзина</span>

    @if (Model > 0)
    {
        <span class="badge rounded-pill bg-success">@Model</span>
    }
</a>
